html, body{
  margin: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 2rem;
}

a:link {
  color: #4662bf;
  text-decoration: underline;
}
a:visited {
  color: #202f60;
}
a:hover {
  text-decoration: none;
}
