body{
  margin: 0;
  padding: 1rem;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 2rem;
}

a:link {
  color: #4662bf;
  text-decoration: underline;
}
a:visited {
  color: #202f60;
}
a:hover, a:active {
  text-decoration: none;
}
