doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Rémy Hannequin &bull; Web Developer
    link(href="assets/css/main.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet' type='text/css')
  body
    include partials/_intro
    include partials/_main

    script(src="assets/js/main.js")
