div.col-1-2
  div.content
    h3
      a(href='https://github.com/rhannequin/ayouken-api') Ayouken bot
    p.
      Ayouken is a mix between a bot and an API.
      <a href="https://github.com/rhannequin/ayouken-api">ayouken-api</a>
      is a JSON API which handle requests like displaying a tweet, getting
      a random gif or looking for documentation on
      <a href="https://developer.mozilla.org">MDN</a>.
      I'm trying to build other projects to use this API to have a
      multi-plateform bot, like
      <a href="https://github.com/rhannequin/ayouken-gitter-client">ayouken-gitter-client</a>
      for <a href"https://gitter.im">Gitter</a> or
      <a href="https://github.com/rhannequin/ayouken">ayouken (former project)</a>
      as an IRC bot.
      <a href="https://github.com/rhannequin/ayouken-api">ayouken-api</a>
      is built in Ruby with <a href="http://www.sinatrarb.com">Sinatra</a>.
