div.col-1-2
  div.content
    h3
      a(href='https://github.com/rhannequin/countdown-launch') Countdown Launch
    p.
      Countdown Launch is a very small and useless project. Its only
      purpose is to create and diplay a countdown for an event. I only
      made it to have fun with friends with coming dates and events. It
      was built in Ruby with
      <a href="http://rubyonrails.org">Ruby On Rails</a>.
