div.col-1-2
  div.content
    h3
      a(href='https://github.com/rhannequin/foursquare-hack') Foursquare Hack
    p.
      This is a small project based on
      <a href="https://developer.foursquare.com">Foursquare API</a> to
      retreive restaurants around you. You can restrict the results by
      giving your own taste or kind of food you want. This was the first
      part of an idea which was later giving birth to
      <a href="https://github.com/meet-for-meal/meetformeal">MeetForMeal</a>.
      It is only made of HTML, CSS and JavaScript.
