h3( class="js-project-title",
    data-target=".js-project-description-foursquarehack",
    data-link="https://github.com/rhannequin/foursquare-hack").
  Foursquare Hack
.project-description.js-project-description-foursquarehack
  h4.js-projet-sources
    a(href='https://github.com/rhannequin/foursquare-hack') Consulter le projet
  p.
    This is a small project based on
    <a href="https://developer.foursquare.com">Foursquare API</a> to
    retreive restaurants around you. You can restrict the results by
    giving your own taste or kind of food you want. This was the first
    part of an idea which was later giving birth to
    <a href="https://github.com/meet-for-meal/meetformeal">MeetForMeal</a>.
    It is only made of HTML, CSS and JavaScript.
