h3( class="js-project-title",
    data-target=".js-project-description-labowebesgi",
    data-link="https://github.com/webdevesgi/labowebesgi").
  Labo Web ESGI
.project-description.js-project-description-labowebesgi
  h4.js-projet-sources
    a(href='https://github.com/webdevesgi/labowebesgi') Consulter le projet
  p.
    This project is the website of the school association I ruled for
    years. It was a development-oriented association in which we were
    able to discuss and present topics around web development. This
    websites made it easier to create and manage events for students. It
    was built in Ruby with
    <a href="http://rubyonrails.org">Ruby On Rails</a> and is well
    test-covered.
