h3( class="js-project-title",
    data-target=".js-project-description-meetformeal",
    data-link="https://github.com/meet-for-meal/meetformeal").
  MeetForMeal
.project-description.js-project-description-meetformeal
  h4.js-projet-sources
    a(href='https://github.com/meet-for-meal/meetformeal') Consulter le projet
  p.
    Annual school project, social network to meet people and eat with
    them. Allow to find people and restaurants according to hobbies
    and taste, add as friend, send messages, invite for lunch or
    dinner, and many. Built in Ruby with
    <a href="http://rubyonrails.org">Ruby On Rails</a>
    and third-party APIs such as Google Maps and Foursquare. Nice
    test-covered with
    <a href="http://rspec.info">RSpec</a>,
    <a href="https://github.com/jnicklas/capybara">Capybara</a> and
    <a href="https://github.com/thoughtbot/factory_girl">factory_girl</a>.
