h3( class="js-project-title",
    data-target=".js-project-description-spaceapi",
    data-link="http://space-api.herokuapp.com/docs").
  SpaceAPI
.project-description.js-project-description-spaceapi
  h4.js-projet-sources
    a(href='http://space-api.herokuapp.com/docs') Consulter le projet
  p.
    Read-only JSON API which provides data about space entities such
    as planets, satellites, comets. Most requests lead to a scrap from
    other websites like
    <a href="http://www.heavens-above.com">Heavens Above</a> to make it
    easier fr developers to use their data.
    Built in Ruby with
    <a href="http://www.sinatrarb.com">Sinatra</a>, sources are
    available on Github
    <a href="https://github.com/rhannequin/space-api">rhannequin/space-api</a>.
