div.col-1-2
  div.content
    h3
      a(href='https://github.com/rhannequin/stalkhub') Stalkhub
    p.
      Stalkhub is a project to easily retreive information from
      <a href="https://github.com">Github</a> with are not directly
      available from the plateform. This idea comes from the fact that it
      can be hard to follow huge open-source projects. Watching issues and
      pull-requests doesn't make it easy to know what's really changing.
      Stalkhub can simplify this by showing the last commits of a project
      since the last visit. Other features are ready to be developed.
