div.col-1-2
  div.content
    h3
      a(href='https://github.com/rhannequin/ws-docs') Web Services
    p.
      School project around REST, SOAP and web services. Made of 4
      different projects:
    ul
      li.
        <a href="https://github.com/2slow/ws-soap-server">ws-soap-server</a>
        SOAP server in PHP
      li.
        <a href="https://github.com/Jagbomb/ws-rest-server">ws-rest-server</a>
        REST XML API in
        <a href="http://nodejs.org">NodeJS</a> with
        <a href="http://expressjs.com">Express</a>
      li.
        <a href="https://github.com/rhannequin/ws-app">ws-app</a>
        main server-side part in Ruby with
        <a href="http://www.sinatrarb.com">Sinatra</a>
      li.
        <a href="https://github.com/rhannequin/ws-client">ws-client</a>
        client-side HTML/JS webapp with
        <a href="http://gulpjs.com">Gulp</a> and
        <a href="http://browserify.org">Browserify</a>
