h3( class="js-project-title",
    data-target=".js-project-description-webappgenerator",
    data-link="https://github.com/rhannequin/webapp-generator").
  Webapp generator
.project-description.js-project-description-webappgenerator
  h4.js-projet-sources
    a(href='https://github.com/rhannequin/webapp-generator') Consulter le projet
  p.
    This project is -<em>obviously</em>- a webapp generator, with the
    build system <a href="http://gulpjs.com">Gulp</a>. It allows to
    benefit from a nice environment development with tasks like
    JavaScript linting, livereaload, asset pre-processing and many
    other. It also make some production tasks very easy like
    concat, uglify, image optimization.
