.grid.grid-pad.about
    .col-1-3.face
      .content
        img.logo(alt='Profile pic', src='https://avatars2.githubusercontent.com/u/1019025?s=150')
    .col-2-3.description
      h2 About
      p.
        Hello, I am a French Web Developer currently living in Paris. I am currently working for the Parisian transport company, <a href="http://ratp.fr">RATP</a>, which rules the subway, trains, buses and tramway in Paris.
      p.
        I work a lot with Ruby and JavaScript but what I really love is learning, using different tools and to improve myself.
      p.
        On the webpage you can discover my <a href="#projects">projects</a>, know the <a href="#languages">languages and frameworks</a> I use, see the <a href="#methods">methods</a> and <a href="#softwares">softwares</a> I'm fancy of. A little bit about my life, you can know <a href="#experience">where I worked</a>, <a href="#school">what I studied</a> and finally <a href="#other">what I do</a> which is not code.
      p.
        Enjoy your time and don't hesitate to follow me on <a href="https://github.com/rhannequin">Github</a> and <a href="https://twitter.com/rhannequin">Twitter</a>.
      p.
        Cheers!

