.about
  .face
    .content
      img.logo(
        alt='Profile pic',
        src='http://www.gravatar.com/avatar/4579bd28e3839f39e27679e75b0b697b.png?s=150',
        height='150',
        width='150'
      )
  .description
    h2 About
    p.
      Hello, I am a French Web Developer living in Paris.
      I am currently working for the Parisian transport company,
      <a href="http://ratp.fr">RATP</a>,
      which rules the subway, trains, buses and tramways in Paris.
    p.
      I work a lot with Ruby and JavaScript but what I really love
      is learning, using different tools and improving myself.
    p.
      On this webpage you can discover my <a href="#projects">projects</a>,
      know the <a href="#languages">languages and frameworks</a>
      I use, see the <a href="#methods">methods</a> and
      <a href="#softwares">softwares</a> I'm fancy of. A little bit about
      my life, you can know <a href="#experience">where I worked</a>,
      <a href="#school">what I studied</a> and finally
      <a href="#other">what I do</a> when it's is not coding.
    p.
      Enjoy your time and don't hesitate to follow me on
      <a href="https://github.com/rhannequin">Github</a>
      and <a href="https://twitter.com/rhannequin">Twitter</a>.
    p.
      Cheers!

