.grid.grid-pad.about
    .col-1-3.face
      .content
        img.logo(alt='Profile pic', src='https://avatars2.githubusercontent.com/u/1019025?s=150')
    .col-2-3.description
      h2 About
      p.
        Hello, I am a French Web Developer currently living in Paris.