.col-1-1
  div.content
    h2 Experience

    .grid.grid-pad
      .col-1-2
        .content
          .company-logo
            .centerhelper
            <img src="/assets/img/ratp.jpg" alt="RATP" width="120">
          h3 Régie Autonome des Transports Parisiens
          h4.
            <img src="/assets/img/eiffel-tower.png" alt="" width="10">
            Paris
          p.
            From 2012 - Formerly part-time <br>
            Web developer Ruby / Java / JavaScript <br>
            Ruby On Rails &bull; Play Framework &bull; BackboneJS
          hr
      .col-1-2
        .content
          .company-logo
            .centerhelper
            <img src="/assets/img/kontest.jpg" alt="Kontest SARL">
          h3 Kontest
          h4.
            <img src="/assets/img/eiffel-tower.png" alt="" width="10">
            Paris
          p.
            2011 to 2012 - Part-time <br>
            Web developeur JavaScript / PHP <br>
            BackboneJS &bull; Symfony
          hr

    .grid.grid-pad
      .col-1-2
        .content
          .company-logo
            .centerhelper
            <img src="/assets/img/urbanmedia.png" alt="Urbanmedia">
          h3 Urbanmedia Pte Ltd
          h4.
            <img src="/assets/img/sg.png" alt="" width="15">
            Singapore
          p.
            2011 <br>
            Web developer PHP / JavaScript
      .col-1-2
        .content
          .company-logo
            .centerhelper
            <img src="/assets/img/ratp.jpg" alt="RATP" width="120">
          h3 Régie Autonome des Transports Parisiens
          h4.
            <img src="/assets/img/eiffel-tower.png" alt="" width="10">
            Paris
          p.
            2010 <br>
            Improvement of the tool "Agile Development"

