.col-1-1
  div.content
    h2 Experience

    .grid.grid-pad
      .col-1-2
        .content
          <img src="/assets/img/ratp.jpg" alt="RATP" width="100">
          h3 RATP
          h4.
            <img src="/assets/img/eiffel-tower.png" alt="" width="10">
            Paris
          p.
            Formerly part-time <br>
            Web developer Ruby / Java / JavaScript <br>
            Ruby On Rails &bull; Play Framework &bull; BackboneJS
      .col-1-2
        .content
          <img src="/assets/img/kontest.jpg" alt="Kontest SARL" width="200">
          h3 Kontest
          h4.
            <img src="/assets/img/eiffel-tower.png" alt="" width="10">
            Paris
          p.
            Part-time <br>
            Web developeur JavaScript / PHP <br>
            BackboneJS &bull; Symfony

    .grid.grid-pad
      .col-1-2
        .content
          <img src="/assets/img/urbanmedia.png" alt="Urbanmedia" width="100">
          h3 Urbanmedia Singapore Pte Ltd
          h4.
            <img src="/assets/img/sg.png" alt="" width="15">
            Singapore
          p.
            Web developer PHP / JavaScript
      .col-1-2
        .content
          <img src="/assets/img/ratp.jpg" alt="RATP" width="100">
          h3 RATP
          h4.
            <img src="/assets/img/eiffel-tower.png" alt="" width="10">
            Paris
          p.
            Improvement of the tool "Agile Development"
