section.rh-intro
  .grid.grid-pad.container
    .col-1-1
      .content
        header.logo
          img.logo(alt='Profile pic', src='https://avatars2.githubusercontent.com/u/1019025?s=100')
          h1 rhannequin.
        h2
          | Web developer
          br
          | #Ruby #JavaScript &amp; others
          br
          | Handball player, Space/Science lover &amp; tv-shows watcher
