section.rh-intro
  .grid.grid-pad.container
    .col-1-1
      .content
        h1 Rémy Hannequin
        h2 Web developer
        h3
          | #Ruby #JavaScript &amp; others
          br
          | Handball player, Space/Science lover &amp; tv-shows watcher
        p
          a(href='https://github.com/rhannequin', title='Github account')
            img(src='/assets/img/github-64.png', alt='Github')
          a(href='https://twitter.com/rhannequin', title='Twitter accunt')
            img(src='/assets/img/twitter-64.png', alt='Twitter')
          a(href='https://www.linkedin.com/in/rhannequin', title='Linkedin page')
            img(src='/assets/img/linkedin-64.png', alt='Twitter')
