div.col-1-1
  div.content
    h2 Languages &amp; frameworks
    ul
      li
        | Ruby
        ul
          li Rails
          li Sinatra
      li
        | JavaScript
        ul
          li BackboneJS
          li jQuery
          li ES6
      li
        | Others
        ul
          li NodeJS (Express)
          li Java (Play! Framework)
          li PHP5
          li CoffeeScript
          li HTML 5 / CSS3
