div.col-1-1
  div.content

    h2 Languages &amp; frameworks

    div.grid.grid-pad
      div.col-1-2
        div.content
          img(src="/assets/img/ruby.png", alt="Ruby", height="100")
          h4 Ruby
          p.
            <a href="http://rubyonrails.org">Ruby On Rails</a> &bull;
            <a href="http://www.sinatrarb.com">Sinatra</a>
      div.col-1-2
        div.content
          img(src="/assets/img/js.png", alt="JavaScript", height="100")
          h4 JavaScript
          p.
            <a href="http://backbonejs.org">BackboneJS</a> &bull;
            <a href="http://jquery.com">jQuery</a> &bull;
            <a href="https://people.mozilla.org/~jorendorff/es6-draft.html">ES6</a>

    div.grid.grid-pad
      div.col-1-1
        div.content
          h4 Others
          p.
            <a href="http://nodejs.org">NodeJS</a>
            (<a href="http://expressjs.com">Express</a>) &bull;
            <a href="http://en.wikipedia.org/wiki/Java_%28programming_language%29">Java</a>
            (<a href="http://www.playframework.com">Play! Framework</a>) &bull;
            <a href="https://php.net">PHP5</a> &bull;
            <a href="http://coffeescript.org">CoffeeScript</a> &bull;
            <a href="https://developer.mozilla.org/fr/docs/Web/HTML">HTML 5</a> /
            <a href="https://developer.mozilla.org/fr/docs/Web/CSS">CSS3</a>
