section.rh-main
  div.grid.grid-pad.container
    div.col-1-1
      div.content
        // Start container

        include _about

        div.grid.grid-pad.projects
          include _projects

        div.grid.grid-pad.languages
          include _languages

        div.grid.grid-pad.methods
          include _methods

        div.grid.grid-pad.softwares
          include _softwares

        div.grid.grid-pad.experience
          include _experience

        div.grid.grid-pad.school
          include _school

        .other
          include _other

        // End container
