section.rh-main
  div.grid.grid-pad.container
    div.col-1-1
      div.content
        // Start container

        div.grid.grid-pad
          include _projects

        div.grid.grid-pad
          include _languages

        div.grid.grid-pad
          include _softwares
          include _methods

        div.grid.grid-pad
          include _jobs
          include _school

        include _other

        // End container
