section.rh-main
  div.grid.grid-pad.container
    div.col-1-1
      div.content
        // Start container

        include _about

        div#projects.grid.grid-pad.projects
          include _projects

        div#languages.grid.grid-pad.languages
          include _languages

        div#methods.grid.grid-pad.methods
          include _methods

        div#softwares.grid.grid-pad.softwares
          include _softwares

        div#experience.grid.grid-pad.experience
          include _experience

        div#school.grid.grid-pad.school
          include _school

        div#other.other
          include _other

        hr

        footer.
          Rémy Hannequin 2014
          <br>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Licence Creative Commons" style="border-width:0" src="/assets/img/creative-commons-by-nc-sa-88x31.png">
          </a>

        // End container
