section.rh-maincontent
  div.content
    // Start container

    include _about

    div#projects.projects.subject.subject__projects
      include _projects

    div#languages.languages.subject.subject__languages
      include _languages

    div#methods.methods.subject.subject__methods
      include _methods

    div#softwares.softwares.subject.subject__softwares
      include _softwares

    div#experience.experience.subject.subject__experience
      include _experience

    div#school.school.subject.subject__school
      include _school

    div#other.other.subject.subject__other
      include _other

    hr

    footer.
      Rémy Hannequin 2014
      <br>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Licence Creative Commons" style="border-width:0" src="/assets/img/creative-commons-by-nc-sa-88x31.png">
      </a>

    // End container
