div.col-1-2
  div.content
    h2 Methods &amp; techniques
    ul
      li
        | TDD
        ul
          li RSpec
          li Mocha
          li Selenium
      li
        | Build systems
        ul
          li Gulp
          li Grunt
      li Scrum
