div.col-1-1
  div.content

    h2 Methods &amp; techniques

    div.grid.grid-pad

      div.col-1-3
        div.content
          h3 TDD
          p.
            RSpec &bull;
            Mocha &bull;
            Selenium

      div.col-1-3
        div.content
          h3 Build systems
          p.
            Gulp &bull;
            Grunt

      div.col-1-3
        div.content
          h3 Agile
          p.
            Scrum
