h2 Other
p.
  I love everything linked to sciences, like physics, maths, astronomy. I read and watch a lot about it and try to understand the best I can the world around me.
p.
  I've been playing <a href="https://www.youtube.com/watch?v=cCjomeoLM6I">handball</a> for 10 years. This is basically the best sport in the world.
p.
  I've had some very nice trips in Europe (Glasgow, Prague, Barcelona, Valencia) and around the world (Singapore, San Francisco). Now traveling is one of my biggest goal.

