div.col-1-1
  div.content

    h2 Projects

    div.grid.grid-pad

      div.col-1-2
        div.content
          include projects/_spaceapi
          include projects/_meetformeal
          include projects/_webservices
          include projects/_ayouken
          include projects/_webappgenerator
          include projects/_labowebesgi
          include projects/_stalkhub
          include projects/_countdownlaunch
          include projects/_foursquarehack

      div.col-1-2
        div.content.project-descriptions
