div.col-1-1
  div.content
    h2 Projects
    div.grid.grid-pad
      include projects/_spaceapi
      include projects/_meetformeal
    div.grid.grid-pad
      include projects/_webservices
      include projects/_ayouken
    div.grid.grid-pad
      include projects/_webappgenerator
      include projects/_labowebesgi
    div.grid.grid-pad
      include projects/_stalkhub
      include projects/_countdownlaunch
    div.grid.grid-pad
      include projects/_foursquarehack
