div.col-1-1
  div.content
    h2 Projects
    div.grid.grid-pad
      div.col-1-2
        div.content
          h3
            a(href='http://space-api.herokuapp.com/docs') SpaceAPI
          p
            | Description
      div.col-1-2
        div.content
          h3
            a(href='https://github.com/meet-for-meal/meetformeal') MeetForMeal
          p
            | Description
    div.grid.grid-pad
      div.col-1-2
        div.content
          h3
            a(href='https://github.com/rhannequin/ws-docs') Web Services
          p
            | Description
      div.col-1-2
        div.content
          h3
            a(href='https://github.com/rhannequin/ayouken-api') Ayouken bot
          p
            | Description
    div.grid.grid-pad
      div.col-1-2
        div.content
          h3
            a(href='https://github.com/rhannequin/webapp-generator') Webapp generator
          p
            | Description
      div.col-1-2
        div.content
          h3
            a(href='https://github.com/webdevesgi/webdayesgi.fr') Labo Web ESGI
          p
            | Description
    div.grid.grid-pad
      div.col-1-2
        div.content
          h3
            a(href='https://github.com/rhannequin/stalkhub') Stalkhub
          p
            | Description
      div.col-1-2
        div.content
          h3
            a(href='https://github.com/rhannequin/countdown-launch') Countdown Launch
          p
            | Description
    div.grid.grid-pad
      div.col-1-2
        div.content
          h3
            a(href='https://github.com/rhannequin/foursquare-hack') Foursquare Hack
          p
            | Description