div.col-1-2
  div.content
    h2 School
    ul
      li Master of Science - Web ad E-business Engineer @ ESGI
      li
        | Professional Bachelor (part time) @ Marne-la-Vallée University Institute of Technology
      li
        | Student in the department of “Communication, Networks and Services” @ Marne-la-Vallée University Institute of Technology
