div.col-1-1
  div.content
    h2 Education
    ul
      li.
        <span class=diploma>Master of Science - Web and E-business Engineer</span><br>
        @ <a href="http://www.esgi.fr">ESGI</a>
      li.
        <span class="diploma">Professional Bachelor</span><br>
        @ <a href="http://iut.u-pem.fr">Marne-la-Vallée University Institute of Technology</a>
      li.
        <span class="diploma">Student in the department of “Communication, Networks and Services”</span><br>
        @ <a href="http://iut.u-pem.fr/">Marne-la-Vallée University Institute of Technology</a>

