div.col-1-1
  div.content

    h2 Softwares

    div.grid.grid-pad

      div.col-1-3
        div.content
          h3 Database
          p.
            MongoDB &bull;
            PostgreSQL &bull;
            MySQL

      div.col-1-3
        div.content
          h3 Editors
          p.
            Sublime Text &bull;
            Vim &bull;
            IntelliJ IDEA &bull;
            Eclipse

      div.col-1-3
        div.content
          h3 Operating Systems
          p.
            GNU Linux &bull;
            Windows with VirtualBox
