h2 Softwares

.soft
  h3 Database
  p.
    MongoDB &bull;
    PostgreSQL &bull;
    MySQL

.soft
  h3 Editors
  p.
    Sublime Text &bull;
    Vim &bull;
    IntelliJ IDEA &bull;
    Eclipse

.soft
  h3 Operating Systems
  p.
    GNU Linux &bull;
    Windows with VirtualBox
