@import 'base.scss';

.container {
  max-width: 1000px;

  .about,
  .projects,
  .languages,
  .methods,
  .softwares,
  .experience,
  .school,
  .other {
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .about {
    text-align: center;
    .face {
      img {
        border-radius: 90px;
        vertical-align: top;
        border: 3px solid #868593;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
        margin: 20px 0;
      }
    }
  }

  .other {
    border: none;
  }
}

.rh-intro {
  position: relative;
  overflow: hidden;
  background-color: #F5F5F5;
  background-image: url('/assets/img/i-mw.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;

  h1, h2 {
    font-family: "Times New Roman";
  }

  h1 {
    font-size: 500%;
    margin: 0;
  }

  h2 {
    font-size: 400%;
    margin: 10px 0;
  }

  h3 {
    margin: 10px 0;
  }

  // Social networks
  p a img {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }

  .container {
    text-align: center;
    max-width: 500px;
    padding: 5px;
    margin-top: 20%;
    border-radius: 90px;
    // background-color: rgba(188, 199, 224, 0.6);
    color: #FFF;

    .col-1-1 {
      margin: 0px;
      padding: 0px;

      .content {
        padding: 0px;
        margin: 0px;
        width: 100%;
      }
    }
  }
}

.rh-main {
  min-height: 100%;
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding-bottom: 5rem;

  h2 {
    font-size: 300%;
    font-family: 'Times New Roman';
    color: rgba(43, 105, 255, 1);
  }
  .projects .js-project-title.current-project {
    color: $mainBlue;
  }

  .languages, .methods, .softwares, .experience {
    text-align: center;
  }

  .experience {
    .company-logo {
      height: 150px;
      width: 100%;
      white-space: nowrap;
      text-align: center; margin: 1em 0;

      .centerhelper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      img {
        vertical-align: middle;
        max-height: 200px;
        max-width: 100%;
      }
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.js-enabled {
  .project-description, .js-projet-sources {
    display: none;
  }
  .js-project-title {
    cursor: pointer;
  }
}


@media handheld, only screen and (max-width: 767px) {

  .rh-intro {
    h1 {
      font-size: 200%;
    }
    h2 {
      font-size: 150%;
    }
    .container {
      max-width: 1000px;
      padding: 20px;
      margin-top: 45%;
    }
  }

  .rh-main {
    .col-1-1 {
      padding: 0;
    }
    .container {
      margin: 0;
      padding: 0;

      h2 {
        font-size: 150%;
      }
      .grid.grid-pad {
        margin: 0;
        padding: 10px;
      }
      .projects h3.js-project-title {
        margin: 0;
        padding-right: 10px;
        width: 200px;
        font-size: 14px;
        display: inline-block;
      }
      .projects h2 {
        font-family: 'Open Sans', sans-serif;
      }
    }
  }

}

@media only screen and (max-height: 320px) {

  .rh-intro {
    .container {
      margin-top: 10%;
    }

    h1, h2, h3, p {
      margin: 0;
    }

    h1 {
      font-size: 200%;
    }

    h2 {
      font-size: 150%;
    }
  }

}

