@import 'base.scss';

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.rh-intro {
  position: relative;
  overflow: hidden;
  background-color: #F5F5F5;
  background-image: url('/assets/img/i-mw.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.rh-main {
  min-height: 100%;
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.main {
  background-color: rgba(188, 199, 224, 0.6);
  max-width: 1000px;

  header {
    img {
      border-radius: 90px;
      vertical-align: top;
      border: 3px solid #868593;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    }
    h1 {
      padding-left: 20px;
      display: inline;
      line-height: 100px;
    }
  }
}

.intro {
  text-align: center;
  max-width: 500px;
  padding: 5px;
  margin-top: 25%;
  border-radius: 90px;

  .col-1-1 {
    margin: 0px;
    padding: 0px;

    .content {
      padding: 0px;
      margin: 0px;
      width: 100%;
    }
  }
}


@media handheld, only screen and (max-width: 767px) {

  .intro {
    max-width: 1000px;
    padding: 20px;
  }

}
