// @import 'compass/reset';
@import 'compass/utilities';
// @import 'blueprint';

@import 'base';
@import 'partials';

@import 'simplegrid';

.content {
  margin: auto;
  max-width: 1000px;

  .about,
  .projects,
  .languages,
  .methods,
  .softwares,
  .experience,
  .school,
  .other {
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.rh-maincontent {
  .languages,
  .methods,
  .softwares,
  .experience,
  .school,
  .other,
  footer {
    text-align: center;
  }
}

.js-enabled {
  .project-description, .js-projet-sources {
    display: none;
  }
  .js-project-title {
    cursor: pointer;
  }
}


@media handheld, only screen and (max-width: 767px) {
  .rh-maincontent {
    .col-1-1 {
      padding: 0;
    }
    .content {
      margin: 0;
      padding: 0;

      h2 {
        font-size: 150%;
      }
      .grid.grid-pad {
        margin: 0;
        padding: 10px;
      }
      .projects h3.js-project-title {
        margin: 0;
        padding-right: 10px;
        width: 200px;
        font-size: 14px;
        display: inline-block;
      }
      .projects h2 {
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}
