body {
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.content {
  margin: auto;
  max-width: 1000px;
}
.content .subject {
  padding: 50px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
.content .subject:after {
  content: "";
  display: table;
  clear: both;
}

.rh-maincontent footer {
  text-align: center;
}

.rh-intro {
  position: relative;
  overflow: hidden;
  background-color: #000;
  background-image: url("/assets/img/i-mw.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.rh-intro h1, .rh-intro h2 {
  font-family: 'Oswald', sans-serif;
}
.rh-intro h1 {
  font-size: 500%;
  margin: 0;
}
.rh-intro h2 {
  font-size: 400%;
  margin: 10px 0;
}
.rh-intro h3 {
  margin: 10px 0;
}
.rh-intro .ruby {
  color: #9B111E;
}
.rh-intro .javascript {
  color: #F0DB4F;
}
.rh-intro p a img {
  opacity: 0.6;
}
.rh-intro p a img:hover {
  opacity: 1;
}
.rh-intro .container {
  text-align: center;
  max-width: 500px;
  padding: 5px;
  margin-top: 18%;
  border-radius: 90px;
  color: #FFF;
}
.rh-intro .container .col-1-1 {
  margin: 0px;
  padding: 0px;
}
.rh-intro .container .col-1-1 .content {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

@media handheld, only screen and (max-width: 767px) {
  .rh-intro h1 {
    font-size: 200%;
  }
  .rh-intro h2 {
    font-size: 150%;
  }
  .rh-intro .container {
    max-width: 1000px;
    padding: 20px;
    margin-top: 45%;
  }
}
@media only screen and (max-height: 400px) {
  .rh-intro .container {
    margin-top: 0;
  }
}
@media only screen and (max-height: 320px) {
  .rh-intro .container {
    margin-top: 10%;
  }
  .rh-intro h1, .rh-intro h2, .rh-intro h3, .rh-intro p {
    margin: 0;
  }
  .rh-intro h1 {
    font-size: 200%;
  }
  .rh-intro h2 {
    font-size: 150%;
  }
}
.rh-maincontent {
  min-height: 100%;
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding-bottom: 1rem;
}
.rh-maincontent a:link {
  color: #4662bf;
}
.rh-maincontent a:visited {
  color: #202f60;
}
.rh-maincontent a:hover {
  text-decoration: none;
}
.rh-maincontent h2 {
  font-size: 300%;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #4662bf;
  text-align: center;
}
.rh-maincontent .projects .js-project-title.current-project {
  color: #4662bf;
}
.rh-maincontent footer {
  font-size: 12px;
  color: #5a5a5a;
}
.rh-maincontent hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.subject__about:after {
  content: "";
  display: table;
  clear: both;
}
.subject__about .face {
  float: left;
  padding-right: 20px;
  /* column-space */
  width: 33.33%;
}
.subject__about .face img {
  border-radius: 90px;
  vertical-align: top;
  border: 3px solid #868593;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  margin: 20px 0;
}
.subject__about .description {
  float: left;
  padding-right: 20px;
  /* column-space */
  width: 66.66%;
}

.content .subject__projects {
  text-align: left;
}
.content .subject__projects .projects__titles {
  float: left;
  padding-right: 20px;
  /* column-space */
  width: 50%;
}
.content .subject__projects .projects__descriptions {
  float: left;
  padding-right: 20px;
  /* column-space */
  width: 50%;
}

.experience .company-logo {
  height: 200px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}
.experience .company-logo .centerhelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.experience .company-logo img {
  vertical-align: middle;
  max-height: 200px;
  max-width: 100%;
}

.school ul {
  padding: 0;
}
.school ul li {
  list-style-type: none;
  padding-bottom: 15px;
}
.school ul li .diploma {
  font-weight: bold;
}

.other {
  border: none;
}

/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  /* column-space */
}

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
  float: right;
}

/* Content Columns */
.col-1-1 {
  width: 100%;
}

.col-2-3, .col-8-12 {
  width: 66.66%;
}

.col-1-2, .col-6-12 {
  width: 50%;
}

.col-1-3, .col-4-12 {
  width: 33.33%;
}

.col-1-4, .col-3-12 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6, .col-2-12 {
  width: 16.667%;
}

.col-1-7 {
  width: 14.28%;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-9 {
  width: 11.1%;
}

.col-1-10 {
  width: 10%;
}

.col-1-11 {
  width: 9.09%;
}

.col-1-12 {
  width: 8.33%;
}

/* Layout Columns */
.col-11-12 {
  width: 91.66%;
}

.col-10-12 {
  width: 83.333%;
}

.col-9-12 {
  width: 75%;
}

.col-5-12 {
  width: 41.66%;
}

.col-7-12 {
  width: 58.33%;
}

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
  margin-left: 50%;
}

.push-1-3, .push-4-12 {
  margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
  margin-left: 25%;
}

.push-1-5 {
  margin-left: 20%;
}

.push-1-6, .push-2-12 {
  margin-left: 16.667%;
}

.push-1-7 {
  margin-left: 14.28%;
}

.push-1-8 {
  margin-left: 12.5%;
}

.push-1-9 {
  margin-left: 11.1%;
}

.push-1-10 {
  margin-left: 10%;
}

.push-1-11 {
  margin-left: 9.09%;
}

.push-1-12 {
  margin-left: 8.33%;
}

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }

  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
  }

  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px;
  }

  .mobile-col-1-1 {
    width: 100%;
  }

  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%;
  }

  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
  }

  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%;
  }

  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%;
  }

  .mobile-col-1-5 {
    width: 20%;
  }

  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%;
  }

  .mobile-col-1-7 {
    width: 14.28%;
  }

  .mobile-col-1-8 {
    width: 12.5%;
  }

  .mobile-col-1-9 {
    width: 11.1%;
  }

  .mobile-col-1-10 {
    width: 10%;
  }

  .mobile-col-1-11 {
    width: 9.09%;
  }

  .mobile-col-1-12 {
    width: 8.33%;
  }

  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%;
  }

  .mobile-col-10-12 {
    width: 83.333%;
  }

  .mobile-col-9-12 {
    width: 75%;
  }

  .mobile-col-5-12 {
    width: 41.66%;
  }

  .mobile-col-7-12 {
    width: 58.33%;
  }

  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
.js-enabled .project-description, .js-enabled .js-projet-sources {
  display: none;
}
.js-enabled .js-project-title {
  cursor: pointer;
}

@media handheld, only screen and (max-width: 767px) {
  .rh-maincontent .col-1-1 {
    padding: 0;
  }
  .rh-maincontent .content {
    margin: 0;
    padding: 0;
  }
  .rh-maincontent .content h2 {
    font-size: 150%;
  }
  .rh-maincontent .content .grid.grid-pad {
    margin: 0;
    padding: 10px;
  }
  .rh-maincontent .content .projects h3.js-project-title {
    margin: 0;
    padding-right: 10px;
    width: 200px;
    font-size: 14px;
    display: inline-block;
  }
  .rh-maincontent .content .projects h2 {
    font-family: 'Open Sans', sans-serif;
  }
}
